body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #025259;
    color: #F4E2DE;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.contenedor {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.nav {
    background-color: #007172;
    width: 14.285%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav a {
    color: #F4E2DE;
    text-decoration: none;
    padding: 10px 5px;
    border-bottom: 1px solid #F4E2DE;
    text-align: center;
}

.contenido {
    background-color: #F4E2DE;
    flex: 6;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tarjeta {
    background-color: #F29325;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.titulo {
    background-color: #D94F04;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4E2DE;
}

.cuerpo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4E2DE;
}

.pie {
    background-color: #D94F04;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4E2DE;
}

@media (max-width: 960px) {
    .contenido {
        flex-direction: column;
        align-items: center;
    }
}
